﻿@model Restaurant

@{
    ViewBag.Title = "Create";
}

<div>

    <h1>Create</h1>

    <div>

        @Html.ValidationSummary()
        <!--<form>-->
        @using (Html.BeginForm())
        {
            @*@Html.HiddenFor(m => m.Id)*@
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Cuisine)
                @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
                @Html.ValidationMessageFor(m => m.Cuisine)
            </div>
            <div>
                <input type="submit" value="Save!" />
            </div>
        }
        <!--</form>-->

    </div>

</div>