﻿@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
        @*<tr>
                <td>
                    @restaurant.Name
                </td>
                <td>
                    <a href="/home/details/@restaurant.Id">Details</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@restaurant.Id">Detail</a>
                    @Html.ActionLink("View", "Details", new { id = restaurant.Id })
                    <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
                </td>
            </tr>
        *@
    }
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Create">Create</a>

@*@section footer
{
    <h3>@Model.CurrentMessage</h3>
}*@
